* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	text-align: center;
	background-image: 
		url('https://images.unsplash.com/photo-1545431781-3e1b506e9a37?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
	background-size: cover;
	min-height: 100vh;
}

.form-input {
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	justify-content: center;
	margin-top: 2rem;
	margin-bottom: 0.3rem;
}

.form-input .bill-amount,
.form-input .cash-amount {
	padding: 0.5rem;
	text-align: left;
}

.hidden-input {
	display: none;
}

table {
	margin: 0.5rem auto;
}

table, th, td {
  border: 3px ridge grey;
  font-size: 0.9rem;
}

button {
	padding: 0.5rem 1rem;
	border: outset;
	font-size: 0.8rem;
}

button:focus {
	border: inset;
}

.close {
	background: transparent;
	border: none;
	padding: 0;
}